<!DOCTYPE html>
<html>
<head>
  <!-- latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="styles/style.css">
  <title> project one. </title>
</head>

<body>


  <div class="jumbotron">
    <h1>explore the depths of Granth.</h1>
    <p>read | talk | discuss</p>
    <!-- for a button:  -->
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  </div>


  <div class="navbar">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <p>  </p>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="row">
     

     <div class="col-md-8">
      <!-- the left side with Granth -->
      <!-- data with the pauris will go here.  -->
        <h2>pauris.</h2>
        <div id="paurisList"></div>
    </div>

    
  </div>
</div>




<!-- jquery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- underscore -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- custom scripts -->
<script type="text/javascript" src="scripts/script.js"></script>


<!-- PASSING THE PAURIS THROUGH THE TEMPLATE FROM DATABASE -->
<script type="text/template" id="paurisTemplate">
  <p>
    <%= pid %> - <%= gurmukhi %> 
  </p>
</script>


</body>
</html>

