<!DOCTYPE html>
<html>
<head>
  <!-- latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="styles/style.css">
  <title> project one. </title>
</head>

<body>


  <div class="jumbotron">
    <h1>explore the depths of Granth.</h1>
    <p>read | talk | discuss</p>
    <!-- for a button:  -->
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  </div>

  <!-- NAVIGATION -->
  <div class="navbar">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <p>  </p>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="row">


  <!--  LEFT SIDE WITH JAPJI SAHIB -->
     <div class="col-md-7">
      <!-- data with the pauris will go here.  -->
      <h2>japji sahib.</h2>
      <div id="paurisList"></div>
    </div>


  <!-- RIGHT SIDE WITH THE COMMENT FORM -->     
      <div class="col-md-5" id="thoughtsForm">
      <h1>thoughts?</h1>
        <form id="submitThought">

          <!-- COMMENT FORM --> 
          <div class="form-group">
            <input type="text" class="form-control" id="thoughtText" placeholder="what are your thoughts?" autofocus>
          </div>

          <!-- SUBMIT BUTTON -->
          <div class="form-group">
            <input type="submit" class="btn btn-success" value="share your thoughts.">
          </div>


        </form>
      </div>

  <!-- RIGHT SIDE WITH POSTED THOUGHTS -->
      <div class="col-md-5" id="postedThoughts">
        <h2>other thoughts.</h2>
        <div id="listOfThoughts"></div>
      </div>
   

    <!-- END OF CONTAINER & ROW -->
    </div>
  </div>


<!-- jquery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- underscore -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- custom scripts -->
<script type="text/javascript" src="scripts/script.js"></script>

<!-- PASSING THE PAURIS FROM THE DATABASE THROUGH THE TEMPLATE ONTO THE PAGE -->
<script type="text/template" id="paurisTemplate">
  <p>
    <%= pid %> - <%= gurmukhi %> 
  </p>
</script>

<!-- PASSING THE THOUGHTS THROUGH THE TEMPLATE ONTO THE PAGE -->
<script type="text/template" id="thoughtsTemplate">
  <p>
    <%= thoughtText %> 
  </p>
</script>

</body>
</html>

