body {
  font-family: sans-serif;
  background-image: url("http://www.bespokepixels.co.uk/code/parallax/parallax.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}


body > div.jumbotron > p {
  font-size: 30px;
}


.jumbotron {
  background-color: rgba(42, 30, 20, 0.4);;
  color: #F2F2F2;
  text-align: center;
  padding: 0.5em 0.6em;
}

.jumbotron p {
  font-size: 1em;
}


/*LOG IN FORM*/
body > div.container.text-center > div > div {
  background-color: rgba(42, 30, 20, 0.4);
  color: #F2F2F2;
  margin-bottom: 30px;
}


h3 {
  font-family: sans-serif;
}

