body {
  background-color: #D9C7B8;
  font-family: sans-serif;
}

.jumbotron {
  background-color: #F2C53D;
  text-align: center;
}

.navbar {
  background-color: #F2F2F2;
}

@font-face{ 
font-family: 'GurbaniAkharHeavyRegular';
src: url('GURAKH_H.TTF') format('truetype')
}

#paurisList{
font-family: 'GurbaniAkharHeavyRegular';
font-size: 20px;
}