body {
  background-color: #F2F2F2;
  font-family: sans-serif;
}

.jumbotron {
  background-color: #FFD34E;
  text-align: center;
}

.navbar {
  background-color: #F2F2F2;
}

@font-face{ 
font-family: 'GurbaniAkharHeavyRegular';
src: url('GURAKH_H.TTF') format('truetype')
}

#paurisList{
font-family: 'GurbaniAkharHeavyRegular';
font-size: 20px;
background-color: #F2F2F2; 
}

#thoughtsForm {
  background-color: #105B63; 
}





